Thesis_DBM/uet_thesis.aux
Thesis_DBM/uet_thesis.log
Thesis_DBM/uet_thesis.out
Thesis_DBM/uet_thesis.pdf
Thesis_DBM/uet_thesis.synctex.gz
Thesis_DBM/uet_thesis.toc
temp/Hamza/ch4 methodology/~WRL3796.tmp
temp/Hamza/ch4 methodology/~$4 methodology.docx
Thesis_DBM/uet_thesis.aux
Thesis_DBM/uet_thesis.aux
Thesis_DBM/uet_thesis.log
Thesis_DBM/uet_thesis.out
Thesis_DBM/uet_thesis.pdf
Thesis_DBM/uet_thesis.synctex.gz
Thesis_DBM/uet_thesis.toc
Thesis_DBM/uet_thesis.synctex.gz
